<h1>Products</h1>

<div class="jumbotron">
  <div class="panel panel-heading">
    <h1><strong><%= @product.name %></strong></h1><br />
    <h3>Price: <%= @product.price %></h3>
  </div>
  <div class="panel panel-body">
    <p>Description:</p><h5> <%= @product.description %></h5><br />
    <p>Quantity: <%= @product.quantity %></p>
    <p>Location: <%= @product.address %></p>
    <% if @product.pic_file_name != nil %>
    <%= image_tag @product.pic.url(:medium), class: "img-responsive" %>
   <% end %>
  </div>
</div>
<div id="map-canvas"></div>
<%= javascript_tag do %>
  latitude = '<%= j @product.latitude.to_s %>';
  longitude = '<%= j @product.longitude.to_s %>';
  title = '<%= j @product.name %>'
<% end %>

<%= link_to "Back", products_path, class: "btn btn-primary" %>
